@font-face {
    font-family: 'PalanquinBold';
    src: url('../font/Palanquin-Bold.ttf');
}

@font-face {
    font-family: 'PalanquinRegular';
    src: url('../font/Palanquin-Regular.ttf');
}

@font-face {
    font-family: 'Mohave';
    src: url('../font/Mohave-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'SegoeUILight';
    src: url('../font/SegoeUILight.ttf');
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../font/SegoeUI.ttf');
}

* {
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    flex-shrink: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'PalanquinRegular';
}

.flat-input {
    border: 0;
    height: 40px;
}

.input1 {
    width: 87%;
    background-color: #eeeeee;
    height: 30px;
    border-radius: 1px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.input2 {
    width: calc(100% - 10px);
    background-color: #eeeeee;
    height: 30px;
    border-radius: 3px;
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.input3 {
    width: 87%;
    background-color: white;
    height: 30px;
    border-radius: 3px;
    border: 0;
    font-family: SegoeUILight, Arial;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.input4 {
    border: 0;
    width: calc(100% - 10px);
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.input5 {
    border: 0;
    width: calc(100% - 10px);
    height: 35px;
    background-color: rgba(255, 255, 255, .3);
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.input5::placeholder {
    color: white;
}

.flat-button {
    border: 0;
    border-radius: 5px;
    height: 40px;
    transition: background-color .3s;
    color: dodgerblue;
    font-family: 'PalanquinBold';
    font-size: 18px;
    background-color: #ffffff;
}

.flat-button:active {
    background-color: #dddddd;
}

.button1 {
    height: 40px;
    border-radius: 10px;
    border: 0;
    background-color: #01b875;
    color: white;
    cursor: pointer;
    transition: background-color .5s;
}

.button1:active {
    background-color: #019258;
}

.button2 {
    color: #3a3f3f;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
    background-image: linear-gradient(white, #eeeeee);
    border: 0;
}

.button2:active {
    background-image: linear-gradient(#eeeeee, white);
}

.button3 {
    color: white;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
    background-image: linear-gradient(#3498db, #2980b9);
    border: 0;
}

.button3:active {
    background-image: linear-gradient(#2980b9, #3498db);
}

.button4 {
    background-color: #2270f3;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    font-family: SegoeUI;
    cursor: pointer;
    transition: background-color .1s;
}

.button4:hover {
    background-color: #226cdf;
}

.button4:active {
    background-color: #1b5bc7;
}

.button5 {
    background-color: #e74c3c;
    color: white;
    border-radius: 20px;
    border: 0;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    font-family: SegoeUI;
    cursor: pointer;
    transition: background-color .1s;
}

.button5:hover {
    background-color: #d04536;
}

.button5:active {
    background-color: #b43a2d;
}

.button6 {
    width: 100px;
    background-color: #73ad87;
    border-radius: 3px;
}

.button6:active {
    background-color: #4d7a5a;
}

.button7 {
    overflow: hidden;
    background-image: linear-gradient(to right, #27a9e1, #4281ea);
    color: white;
    width: 100px;
    height: 40px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button7:active {
    background-image: linear-gradient(to right, #258fc1, #3e6acf);
}

.button8 {
    overflow: hidden;
    background-image: linear-gradient(to right, #f04055, #db8540);
    color: white;
    width: 100px;
    height: 40px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button8:active {
    background-image: linear-gradient(to right, #d43b50, #b66a37);
}

.button9 {
    overflow: hidden;
    background-image: linear-gradient(to right, #39b1e3, #22d987);
    color: white;
    width: 100px;
    height: 40px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button9:active {
    background-image: linear-gradient(to right, #3191bf, #20b16d);
}

.button10 {
    background-color: white;
    color: black;
    height: 35px;
    width: 100px;
    border: 0;
}

.button10:active {
    background-color: #dddddd;
}

.button11 {
    overflow: hidden;
    background-image: linear-gradient(to right, #41b3e6, #4281ea);
    color: white;
    width: 100px;
    height: 40px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button11:active {
    background-image: linear-gradient(to right, #385db9, #3284b1);
}

.loader {
    color: #4eccb6;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0) scale(0.6, 0.6);
}

@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

.radio {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
}

.radio-inner {
    width: 11px;
    height: 11px;
    background-color: white;
    border-radius: 50%;
    display: none;
}

.options-item:active {
    background-color: #eeeeee;
}